[submodule "gradient-descent"]
	path = gradient-descent
	url = git@github.com:IMAGINARY/gradient-descent.git
[submodule "neural-numbers"]
	path = neural-numbers
	url = git@github.com:IMAGINARY/neural-numbers.git
[submodule "reinforcement-learning-2"]
	path = reinforcement-learning-2
	url = git@github.com:IMAGINARY/reinforcement-learning-2.git
